= simple_form_for(@student) do |f|
  = f.error_notification

  .form-inputs
    = f.input :picture
    = f.input :name_surname
    = f.input :number
    = f.input :phone
    = f.input :email
    = f.association :program

  .form-actions
    = f.button :submit
